In [1]:
import pandas as pd
import os
from textblob import TextBlob
from textblob import Word

In [2]:
data = pd.read_csv('Womens Clothing E-Commerce Reviews.csv')
data.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [3]:
data['Review Text'] = data['Review Text'].astype(str)

In [4]:
data['polarity'] = data['Review Text'].map(lambda text: TextBlob(text).sentiment.polarity)

In [5]:
data.dtypes

Unnamed: 0                   int64
Clothing ID                  int64
Age                          int64
Title                       object
Review Text                 object
Rating                       int64
Recommended IND              int64
Positive Feedback Count      int64
Division Name               object
Department Name             object
Class Name                  object
polarity                   float64
dtype: object

In [6]:
data.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,polarity
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates,0.633333
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses,0.339583
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses,0.073675
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants,0.550000
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses,0.512891

In [7]:
data['review_len'] = data['Review Text'].astype(str).apply(len)
data['word_count'] = data['Review Text'].apply(lambda x: len(str(x).split()))

In [8]:
data.head(5)

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,polarity,review_len,word_count
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates,0.633333,53,8
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses,0.339583,303,62
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses,0.073675,500,98
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants,0.550000,124,22
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses,0.512891,192,36

## Then randomly select 5 reviews with the most positive sentiment polarity score (one):

In [9]:
print('5 random reviews with the highest positive sentiment polarity: \n')
positive = data.loc[data.polarity == 1, ['Review Text']].sample(5).values
for i,p in enumerate(positive):
    print(i,"-",p[0],"\n")

5 random reviews with the highest positive sentiment polarity:

0 - The material is great!! got them in both colors and went with a tall size for one. everyone compliments them!

1 - This is awesome multi-season dress.

2 - Dress is awesome and makes you look skinnier.

3 - Loved this dress and was even happier to learn i could order it in petite!!

4 - I love it!!! i can wear out to dinner or just out to lunch with
friends!

In [10]:
data[data['polarity']<=0]

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,polarity,review_len,word_count
10,10,1077,53,Dress looks like it's made of cheap material,Dress runs small esp where the zipper area run...,3,0,14,General,Dresses,Dresses,-0.097149,336,66
14,14,1077,50,Pretty party dress with some issues,This is a nice choice for holiday gatherings. ...,3,1,1,General,Dresses,Dresses,-0.057143,500,96
22,22,1077,31,Not what it looks like,"First of all, this is not pullover styling. th...",2,0,7,General,Dresses,Dresses,-0.045595,437,85
28,28,684,53,Great shirt!!!,I have several of goodhyouman shirts and i get...,5,1,2,Initmates,Intimate,Lounge,0.000000,192,32
44,44,862,48,Beautiful!,Tried this on today at my local retailer and h...,5,1,9,General,Tops,Knits,-0.046374,391,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23414,23414,854,35,Pricey for what it is,The front and back materials differ. the back ...,4,1,1,General Petite,Tops,Knits,-0.044048,170,32
23449,23449,262,39,Not for me,I tried these on because the color is really p...,3,0,7,General Petite,Intimate,Lounge,-0.039583,349,65
23470,23470,1104,39,NaN,nan,5,1,0,General Petite,Dresses,Dresses,0.000000,3,1
23478,23478,1104,32,Unflattering,I was surprised at the positive reviews for th...,1,0,0,General Petite,Dresses,Dresses,-0.078788,229,44
23480,23480,862,35,NaN,nan,5,1,0,General Petite,Tops,Knits,0.000000,3,1

In [11]:
print('5 random reviews with the highest positive sentiment polarity: \n')
positive = data.loc[data.polarity < 0, ['Review Text']].sample(5).values
for i,p in enumerate(positive):
    print(i,"-",p[0],"\n")

5 random reviews with the highest positive sentiment polarity:

0 - I love the colors, and saw the xxs p in a store, so tried it on, but sadly, that was still a lot of fabric on me. i think if you have very small thin arms, that may work, but with muscles, it just made me look bigger than i am... the design (pattern) is really nice though. 115 lbs, 30 dd flat

1 - Pants are overpriced and very uncomfortable. to my utter dismay i wore them during a business trip for the first time and ended up with bruises caused by the side zipper. i have been a long time retailer shopper and usually my go to store, however,ending up with a pair of pants that caused me pain was a very big disappointment,

2 - I want to live in this sweatshirt. it's so comfy, but also well-cut and lays nicely, not boxy at all. i'm typically a 10-12 or l in tops and the 3 is roomy without looking sloppy.

3 - Unbelievably soft fabric that doesn't feel like it will pill. i ordered dark grey. i'm 5'3" 130 (just after baby) and size m fits well, super-flattering. doesn't smash my buns. the seams are in all the right places to flatter. styling is between ballerina and badass, as i think the ankle wraps look a little tough. i highly recommend.

4 - I wanted to like this top, as i usually adore a cute peplum feature. when i tried it on yesterday in the store, i was disappointed by how wide and bulky is it. i am petite (5'2", 110 lbs), and i tried my usual xs. the fabric was substantial and of a high quality, but unfortunately in this design, that became a bad thing as the bottom of the shirt balooned out around me. it was very unflattering and i felt lost in the shirt! definitely try it on for yourself before purchasing.